
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Sans+Pro:wght@300;400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    
    
}
header{
    font-family: 'Source Sans Pro', sans-serif;
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
    padding:0.4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: white;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.2);
    font-weight: 400;
}
.logo{
    font-size: 2rem;
    color: #333;
    font-weight: 600;
}
.img-name{
    display: flex;
    align-items: center;
    height: 4rem;
    gap: 10px;
}
.my-photo{
    width: 40px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 100%;
    margin-left: 10px;
    object-fit: cover;
}

.flex{
    display: flex;
    justify-items: end;
    align-items: center;
}
ul{
    list-style: none;
}
header{
    width: 100%;
    align-items: end;
}
a{
    display: inline-block;
}
button{
    border: none;
    background: none;
}
.main-nav{
    width: 100%;
    justify-items: flex-end;
    justify-content:space-between ;
    padding: 0 3rem;
    position: relative;
} 
.right-links{
    width: auto;
}
.nav-links ul{
    gap: 50px;
}
.nav-links{

    text-transform: uppercase;
    align-items: end;
}
.nav-link{
    color: #111;
    font-weight: 600;
    width: 100%;
}
.nav-link:hover{
    color: #facf0f;
    transition: 0.2s ease-out;
    transform: translateY(-3px);
}
.nav-toggle{
    display: none;
    cursor: pointer;
}

.home{
    color:#fff;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    background-position: center;
    height: 100vh;
    position: relative;
    margin-top: 50px;
    width: 100%;
}
.home-text{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}
.home-content{
    
    position:absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: auto;
    width:100%;
}
.primary-heading{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
}
.home-info{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    color:#333;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    line-height: 3.5;
}
.btn{
    background-color: #facf0f;
    color:black;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.35);
    margin-top: 2rem;
    padding: 0.05rem 4rem;
    font-size: 1.25rem;
    transition: transform .3s;
    transition: 0.3 ease-out;
}

.home-social{
    display: flex;
    flex-direction: column;
    width: 3%;
    background-color: white;
    border-radius: 5px;
}
.social-icon{
    padding: 0%;
    width: 80%;
    margin: 10%;
}
.home-coding-profiles{
    display: flex;
    flex-direction: row;
}
.coding-icon{
    width: 80%;
    margin: 10%;
}
.social-icon:hover{
    width: 40px;
}
.coding-icon:hover{
    width: 40px;
}
.mouse{
    width: 25px;
    height: 40px;
    border:2px solid #333;
    border-radius:60px;
    position: absolute;
    top: 80%;
    left:50%;
}
.mouse::before{
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top:7px;
    left:50%;
    transform:translateX(-50%);
    background-color: #ff0000;
    opacity: 1;
    border-radius: 50%;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
    to{
        opacity: 0;
        top:27px;
    }
}
@-webkit-keyframes wheel{
    to{
        opacity: 0;
        top:27px;
    }
}

.aboutMe-content{
    margin: 0rem 8rem;
}
.my-info{
    text-align: start;
}
.header{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.5px;
    font-size: 2.6rem;
    text-transform: uppercase;
    margin:3rem 4rem;
    padding-top: 5rem;
}

.header_para{
    font-size: 1.1rem;
    font-weight: 600;
    color:#666;
    line-height: 1.7;
    width: auto;
    margin: 1rem auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-transform: none;
}
.grid-about{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.contactMe-btn{
    border: none;
    background-color: #facf0f;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    width: auto;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: transform .3s;
    transition: 0.3 ease-out;
}
.left-text{
   
    max-width: 35rem;
}
.text-heading{
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 2rem;
}

.left-paragraph-head{
    font-family: 'Source Sans Pro', sans-serif;
    color:#666;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 1.2rem;
}
.left-paragraph-main{
    font-family: 'Source Sans Pro', sans-serif;
    color:#666;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 1.2rem;
}
.left-paragraph-footer{
    font-family: 'Source Sans Pro', sans-serif; 
    color:#666;
    font-size: 1.3rem;
    line-height: 1.5;
}
.right-text{
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 60rem;
}
.skill-set{
    display:flex;
    flex-wrap: wrap;
}
.skill{
    background-color: rgba(153,153,153,.2);
    margin: 1rem;
    font-size: 1.3rem;
    padding:0.7rem 1.4rem;
    border-radius: 5px;
    margin: 10px;
}
.edu-header{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.5px;
    font-size: 2.6rem;
    text-transform: uppercase;
    padding-top: 5rem;
}
.education{
    background-color:rgba(118, 118, 118, 0.101);
    margin-top:3rem;

}
.container{
    max-width: 120rem;
    margin: auto;
    width: 85%;
    
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
.schools{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-left:0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
}
.box1,.box3,.box2,.box4{
    border:1px ;
    width: 19rem;
    height:15rem;
    margin-bottom: 50px;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(162, 162, 255);
}
.image1{
    width: 5rem;
    border-radius: 10px;
}
.image2{
    width:5rem;
    height: 5rem;
}
.image3{
    width:8rem;
    height: 6rem;
}
.image4{
    width:5rem;
    height: 5rem;
    border-radius: 10px;
}
.content{
    padding: 5px 10px 0px 10px;
    width: 100%;
    font-size: 1.1rem;
    font-family:'Source Sans Pro', sans-serif;
}
.resBox{
    cursor: pointer;
    padding: 1px;
    border-radius: 5px;
    border: 1px solid black;
}
.box1Result{
    display: flex;
    display: none;
    flex-direction: row;
    margin: 5%;
    align-content: center;
}
.box1:hover{
    .box1Result{
    display: block;
    }
}
.box2:hover{
    .box1Result{
        display: block;
        }
}
.box3:hover{
    .box1Result{
        display: block;
        }
}
.box4:hover{
    .box1Result{
        display: block;
        }
}
.card{
    width:100%;
    height: 100%;
    top:0;
    right: 0;
    position: absolute;
    background-color: #666;
}
.projects{
    height: auto;
}


.project{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    gap: 4rem;
    padding: 10px;
    margin-bottom: 60px;
}
.project-description{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 20rem; */
}
.project-img{
    width: 100%;
    display: block;
    object-fit: center;
}
.project-Image{
    width: 50%;
    height: 15rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.9);
    /* background: cov; */
}
.project-heading{
    font-size: 2.5rem;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    
}
.about-project{
    font-size: 1.2rem;
    font-family: 'Source Sans Pro',sans-serif;
    color: #666;
    /* margin-bottom: 10px; */
}
.tech-stack{
    height:auto;
    width:100%;
    margin: 20px 0;
}
.logos{
    /* display: flex; */
    margin-top: 10px;
    align-items: center;
}
.tech-stack-heading{
    font-size: 1.2rem;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 400;
}
.tech-stack-logo{
    /* height: 50px; */
    /* background-color: #facf0f; */
    font-size: 2rem;
    margin-right: 12px;
    font-weight: 400;
}

.project-button{
    font-size: 1.1rem;
    font-family: 'Source Sans Pro',sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #facf0f;
    padding: 15px 15px;
    border-radius: 5px;
    width: max-content;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    cursor: pointer;
    transition: transform .3s;
    transition: 0.3 ease-out;
}
.project-link{
    color: black;
}
.project-button:hover {
    transform: translateY(-3px);
}
.contact{
    width: 100%;
    height: 65rem;
    max-width: 100%;
    background-image: url(images/contactbg.jpg);
    background-position: center;
    background-size:cover;
}
.otherContacts{
    margin-top : 40px;
    display: flex;
    height: 10px;
    justify-content: space-around;
}
.contact1{
    height: 10px;
    display: flex;
    gap: 10px;
    background: none;
    font-family: 'Source Sans Pro',sans-serif;
    cursor: pointer;
    font-size: 18px;
    color: #111;
}
.contact-Img{
    width: auto;
    height:23px;
}
.heading{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.5px;
    font-size: 2.6rem;
    text-transform: uppercase;
    padding-top: 5rem;
}
.contact-para{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color:#666;
    line-height: 1.7;
    max-width: 60rem;
    margin: 1rem auto;
    font-family: 'Quicksand', sans-serif;
    text-transform: none;
    word-spacing: 1px;
}
.contact-form{
    text-align: right;
    background-color: #fff;
    max-width: 40rem;
    width: 95%;
    height: 43rem;
    margin: 5rem auto 0rem auto;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}
.form-field{
    margin-bottom: 2rem;
}
.form-label-name{
    color:#666;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-family:'Quicksand', sans-serif;
    text-align: left;
    display: block;
    margin-bottom: 1rem;
}
.form-label-field{
    text-align: left;
    width: 100%;
    padding: 1rem;
    border:1px solid #ebebeb;
    background:#f0f0f0;
    margin-bottom: 12px;
    font-weight: 400;
    border-radius: 5px;
}
textarea{
    resize: none;
}
.contact_form-input{
    color: #666;
    font-size: 0.9rem;
    /* letter-spacing: 1px; */
    background: #f0f0f0;
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 1rem;
    font-weight: 400;
    margin-bottom: 12px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
}
.important{
    color: red;
}
.form_submit-btn{
    border: none;
    background-color: #facf0f;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    width: auto;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: transform .3s;
    transition: 0.3 ease-out;
}
.form_submit-btn:hover{
    transform: translateY(-3px);
}
.main-footer{
    background-color: #111;
    color: #fff;
}
.upper-container{
    /* width: 100%; */
    /* max-width: 120rem; */
    display: flex;
    justify-content: space-between;
    gap:40px;
    padding: 60px 0;
    border-bottom: 1px solid rgb(255, 254, 254);
}

.myName{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 1.7rem;
}
.aboutMe{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 2rem;
    color: #eee;
    font-size: 1rem;
    line-height: 1.7;
}
.socials-heading{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    /* padding-left: ; */
}
.right-text-footer{
    
    width: 10rem;
}
.footer-social-icon{
    width: 2.5rem;
    margin-right: 10px;
    margin:1px;
}
.lower-container{
    text-align: center;
    padding: 2rem 0;
    font-size: 0.9rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.my-link{
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}
.btn:hover{
    /* background-color: green; */
    transform: translateY(-3px);
}
.contactMe-btn:hover{
    transform: translateY(-3px);
}

#resume{
    border: none;
}
